*
.*

# 2. 解开目录忽略，允许进入子目录
!*/

!*.md
!*.png
RK3568（linux学习）/linux开发资料库/rk3568迅为开发pdf/15.开发板原厂文档/rk3568_android/RKDocs/android/
RK3568（linux学习）/linux开发资料库/rk3568迅为开发pdf/15.开发板原厂文档/rk3568_android/RKDocs/common/
RK3568（linux学习）/linux开发资料库/rk3568迅为开发pdf/15.开发板原厂文档/rk3568_linux/docs/
RK3568（linux学习）/linux开发资料库/数据结构/Day6【认准一手V：it1646,其他均为转卖盗版】/Day6/liner_rd/
